$col-dark-gray: #222;
$col-gray: #333;
$col-light-gray: #555;
$col-very-light-gray: #999;

$col-waveform: #8f6fe7;
$col-purple: #6c44ed;
$col-white: #eaeaea;

$col-dimmer: #000;

$col-time-selector: #0f0;
