@import "normalize.css";
@import "./colors";
@import "./bpms";
@import "./dimmer";
@import "./form";
@import "./modal";
@import "./notefield";
@import "./notification";
@import "./panel";
@import "./sidebar";
@import "./util";
@import "./waveform";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $col-gray;
    overflow: hidden;

    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: $col-white;
}

#app {
    height: 100%;
}

.app-container {
    height: 100%;
    display: flex;
}

a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
