@import "normalize.css";
@import "./colors";
@import "./dimmer";
@import "./form";
@import "./modal";
@import "./notefield";
@import "./panel";
@import "./sidebar";
@import "./util";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $col-gray;
    overflow: hidden;

    font-size: 16px;
    font-family: sans-serif;
    color: $col-white;
}

#app {
    height: 100%;
}

.app-container {
    height: 100%;
    display: flex;
}
