@import "normalize.css";
@import "./dimmer";
@import "./modal";
@import "./notefield";
@import "./sidebar";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #333;
    overflow: hidden;

    font-size: 16px;
    font-family: sans-serif;
    color: #eaeaea;
}

#app {
    height: 100%;
}

.app-container {
    height: 100%;
    display: flex;
}
