.form-control {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-input {
    display: block;
    width: 100%;

    &[type="text"] {
        background-color: transparent;
        border: 0;
        border-bottom: 3px solid $col-gray;
        padding: 5px 0;
        color: $col-white;
        outline: 0;

        &:hover,
        &:focus {
            background-color: $col-gray;
        }

        &:focus {
            border-bottom-color: $col-purple;
        }
    }
}

.form-label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.form-label-dark {
    @extend .form-label;
    color: $col-light-gray;
}

.btn {
    background-color: $col-purple;
    border: none;
    font-weight: bold;
    color: $col-white;
    cursor: pointer;

    &:hover {
        background-color: darken($col-purple, 2%);
    }
}

.btn-wide {
    width: 100%;
}

.btn-lg {
    padding: 16px;
}
