.form-control {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-input {
    display: block;
    width: 100%;

    &[type="text"] {
        background-color: transparent;
        border: 0;
        border-bottom: 3px solid $col-gray;
        padding: 5px 2px;
        color: $col-white;
        outline: 0;

        &:hover,
        &:focus {
            background-color: $col-gray;
        }

        &:focus {
            border-bottom-color: $col-purple;
        }
    }
}

.form-label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}

.form-label-dark {
    @extend .form-label;
    color: $col-light-gray;
}

.btn {
    border: none;
    font-weight: bold;
    color: $col-white;
    cursor: pointer;
    border-radius: 3px;

    &:disabled {
        cursor: default;
        user-select: none;
        pointer-events: none;
        background-color: $col-gray;
        color: $col-light-gray;
    }
}

.btn-primary {
    background-color: $col-purple;

    &:hover {
        background-color: darken($col-purple, 3%);
    }
}

.btn-secondary {
    background-color: $col-light-gray;

    &:hover {
        background-color: darken($col-light-gray, 3%);
    }
}

.btn-wide {
    width: 100%;
}

.btn-thick {
    padding: 16px 20px;
}

.btn-thin {
    padding: 8px 12px;
}
