@import "./form";

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);

    padding: 32px;
    background-color: $col-dark-gray;
    max-width: 600px;
}

.welcome-modal {
    .oc-banner {
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    .close-btn {
        @extend .btn, .btn-lg, .btn-wide;
        margin-top: 12px;
    }
}
