.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);

    padding: 32px;
    background-color: #222;
    max-width: 600px;
}

.welcome-modal {
    .oc-banner {
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    .close-btn {
        margin-top: 12px;
        width: 100%;
        padding: 16px;
        background-color: #6c44ed;
        border: none;
        font-weight: bold;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: darken(#6c44ed, 2%);
        }
    }
}
