.notefield {
    height: 100%;
    display: flex;

    .sidebar-container {
        display: flex;
        flex-direction: column;
        padding: 12px 16px;
        background-color: #222;

        img {
            width: 48px;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    .sidebar-content {
        flex: 1;
    }

    .sidebar-footer {
        align-self: flex-end;
    }

    canvas {
        margin: 0 auto;
        height: 100%;
    }
}
