.notefield-container {
    flex: 1;
    text-align: center;
}

.canvas-container {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: black;
    height: 100%;

    .notefield {
        position: relative;
        z-index: 2;
        height: 100%;
    }

    .beatsnap {
        position: absolute;
        right: -50px;
        user-select: none;
    }
}
