.notefield-container {
    flex: 1;
    text-align: center;
}

.canvas-container {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 100%;

    .notefield {
        height: 100%;
    }

    .beatsnap {
        position: absolute;
        right: -50px;
    }
}
