.waveform-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 32px;

    svg {
        .upscroll & path {
            rotate: 90deg;
        }

        .downscroll & path {
            rotate: 270deg;
        }
    }
}
