.waveform-container {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 32px;
    width: 100%;

    svg {
        width: 100%;

        path {
            fill: #8f6fe7;
        }

        .upscroll & path {
            rotate: 90deg;
        }

        .downscroll & path {
            rotate: 270deg;
        }
    }
}
